*

!/sclc/
!/sclc/**

!/lib/
!/lib/**

!/examples/

!/logo/
!/logo/**

!Makefile
!.clang-format
!README.md
!LICENSE
!LICENSE_HEADER.txt
!AGENDA.md

!/external/
!/external/**

!.gitignore

!.github/
!.github/**
